body{
  margin: 0 15%;
}
.container {
  background-color: red;
  height: 500px;
  
}
.scores{
  background-color:transparent;
  height: 300px;
  padding-left: 15%;
  overflow-x: scroll;
  position: absolute;
  left:0;
  right: 0;
  
}
.scorescontainer{
  display: flex;
  position: absolute;
  background-color:transparent;
  padding: 10px;
}
.card{ 
  text-align: center;
  height: auto;
  width: 18rem;
  margin-right: 10px;
}
.form-group{
  margin-bottom: 10px;
  margin-left: 5px;
}